.navBar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.1);

  background-color: #f5f5f7;
}

.navBarList {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 80px;
}

.userDataContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 80px;
}

.userName {
  font-weight: 500;
}

.logo {
  margin-top: 10px;
}

.navLink {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #00000099;
}

.iconLink {
  padding-top: 5px;
  color: #02315c;
}
.iconLink:hover {
  color: #5694cc !important;
}

.navLink:hover {
  color: black;
}

li {
  list-style: none;
}
