.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #02315c;
  height: 200px;
  color: #c1eafd;
}

.footerLink {
  color: #c1eafd;
}

.footerSection {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-right: 90px;
}

.logoFooter {
  width: 500px;
}

h3 {
  margin: 0;
}
