.categoryMenu {
  width: 100vw;
  height: 100px;
  background-color: #ededed;
  padding: 50px 0;
  margin-top: -10px;
}
.categorySwipe {
  padding-right: 15px;
}

.categoryLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #959595;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryItem:hover img {
  transform: scale(1.2);
}
.categoryName {
  font-size: small;
}
