.containerRegister {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  gap: 1.7rem;
  width: 30%;
  min-height: 620px;
  background-color: #fefefe;
  border-radius: 19px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.formTitle {
  font-size: x-large;
  font-weight: 700;
}

.inputForm {
  width: 70%;
}

.errorForm {
  display: flex;
  gap: 7px;
  color: red;
  margin: 0;
  align-self: flex-start;
  padding-left: 5px;
  font-size: smaller;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -25px;
  margin-left: 65px;
}

.buttonRegister {
  background-color: #327ef2;
  font-size: medium;
  border: none;
  height: 40px;
  padding: 0 20px;
  color: #ececec;
  border-radius: 4px;
}
